<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06CBB2494BC84FA29BFA618A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F2523577E24AA19AF7F096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB822ACB44D4BD29FEBBA6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15F259247A1C42F7B4396FA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A5CD30A0CA34003B7E5000E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B8A56996078484DBAC44559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E879FB43C334BEAA06C64F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E24CCDF4D82417BA90E3AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337658382A5B43C4BCFECE91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364561C731D94C2EBB3BE9BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4083E0AC01C642EB9D21D0A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45477711754F41849CC36106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A4AE7A42C494FED822A7EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACBD559954B4CBF8C7E9B50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6508432F330C4DBE8C473E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4A1968F979437F93A803A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A5C8BAFF7AB43BAA5413818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909EB557EE0B4C76B3F28B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978D9039AFED4779B8DA452B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1D1C36109944279ABD4F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12BDBD7CCCD494F9609ECD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9FDC26BDA26482DB509FDCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B07949DB8F5447ABAA0D4D12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C69BD7079448F9A0907E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EB2C1981DA404B9D2856C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FE60185A5A4944AA44F235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF0B075AE7904CBDB60AEFAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D324B167C6E14DF9843CD264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D898845795E546C3AB4701BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCAB22D1C7614B40858EF3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E18C51082B8640B8869DE1C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E424AB24805A46BA939385B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F22CEF0F21456E949E02A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA02445C8C7A42EAB7D56EC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF2A05D96524BDFBE75F988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47DBECB07EF4EFFB550991D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB4ADB565754ACCB0056751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEB130D669ED4460948BC228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
