<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Boing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Gears.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Split View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>accuracy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>defaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>fsaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>misc05_picking_BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>misc05_picking_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>misc05_picking_slow_easy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>modes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>peter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tutorial02_red_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tutorial03_matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tutorial04_colored_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tutorial05_textured_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tutorial06_keyboard_and_mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tutorial07_model_loading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tutorial08_basic_shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tutorial09_AssImp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tutorial09_several_objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tutorial09_vbo_indexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tutorial10_transparency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>tutorial11_2d_fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tutorial12_extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tutorial13_normal_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tutorial15_lightmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tutorial16_shadowmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>tutorial16_shadowmaps_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>tutorial17_rotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>tutorial18_billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tutorial18_particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05C17D452BC741C4A432175B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EA6F422D734B9AAAD28CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1472FC87A2524B74B9F6491C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15A61F9EAA6147EBA77D9B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CEE7F6E60843249859CBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>193C5DEA84504A5389435C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE9F75776254FE9BF534AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274C32C9759647E984977FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>277F1A685EB64B5BA13E2394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0EA26F4FF247288B50BEEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D7CACCB7BCE462680F76955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32C3EAF8A53D4436A23C5EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CDC30E4E164F079EC8DDB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39DC181A1F5644AE978CB211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CAB4EA747C148FEAC0FEA9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4281FC2F14144312AB172F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4723C16C7C2F4F7FABF835B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48883AE2A5A147D7843552E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488C77E650CF4E6989D45172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BC01880C619409DA9FB8FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5D17D0927A4FDBAD18089F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EE221939C584914BB4BD7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52090C30F6A7420BA1EDD1D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>565FCA07EDD644728D3B8205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>577155CE67024E1BB8C8523E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581747EBED464D69A8DFA106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59B8D4B78C3E4B6F94D742E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAED30A778C47BBA2DCABCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CAE3657D85D467484145D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>611F51D637504C968687B4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C4231DD046C416BB3D83DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78554724D0B74EC78F6E328A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E9F04A6041249D6850F4EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EBC3749A114474EA14E9D7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83D645EE575A41D092A938E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8613653130F6458486CAC0A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AFD0E7CE1F4888858281B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9CEB0CEF334649B81902B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB0070BF393442E80EA818B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECCD0ECAF2E483281DC4AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92614EBA08224303B0ED3647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9315FE4572CD48B0AD3B9ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9363257AADA64CCB826958CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>990A04F5D32449FE8A4BC3F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F8AA4910AD49759402FFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F6E3369DA4F6E992E62C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59FBBC2FABC48809B6CC66D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE2503E38AC4A7D8F2735B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B851538CB21344A2A49E58BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAC45B0D6F844B9BA1E4741D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1D47C6E963444B85EE735B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC5976B7D546432DB7F41B35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7FFE4CD5E243CD86BC57B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D026F59EA005439AA5759970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D598DDA4F36048A7A972155E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D926D1FD9988438DB1049682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CF160F1552432DB5A94429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBEDA15751E44F14B3FE0A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE0F9327E72D4550B5978F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F75CCEB29D4E423BAF7E36ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
