<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>misc05_picking_BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>misc05_picking_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>misc05_picking_slow_easy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tutorial02_red_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tutorial03_matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tutorial04_colored_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tutorial05_textured_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tutorial06_keyboard_and_mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tutorial07_model_loading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tutorial08_basic_shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tutorial09_AssImp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tutorial09_several_objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tutorial09_vbo_indexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tutorial10_transparency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>tutorial11_2d_fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tutorial12_extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tutorial13_normal_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tutorial15_lightmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tutorial16_shadowmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>tutorial16_shadowmaps_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>tutorial17_rotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>tutorial18_billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tutorial18_particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>030529405F9B427BB4A625AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03546100F2E14EC987FA99D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1AF7384ABC4F828F4458E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15F419F6EAC0482987C29139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F02CF5A36D84550B899DB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC74EBA4C0845168DF7946E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FEB9A62B58446E4B9196BFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>207B5918AA9C4A6092375A09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>266BC5E8E2974802BC9DB56F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C125B031D5849E38DA02CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CCD78D23F3847B8AE8816F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DB17502ED3242E487E40C34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35C3C1AD0DED41F98C93E9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38D7D94BCFA44B1F8B9B5592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444D2EE4707541E8A556661A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47E9B48FBD244AB285C1609C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F36EC973F69475FB55AC1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54057B0B654747EC91F3AECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54CD4065B8AB4F1B9CE052CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6315736FD4C84909828DB856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68DF0B50594340F69915BB99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>748ED1B43C954E29890A0471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>757479901FB4441699160B10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7760968DA75245509D7EAE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7927F3C2C0F348EB98CB3B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8205DFEA4E1843F79EC15EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D3A21EA99A48B092E6136D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8956640A47624BABA64E190D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A2291C9222E4CB38FB17C92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93C86B56A683485AA5B084D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74C3D9F7DEA45D585B56795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B06C878407C94FD4A5799F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C815675EC3194B9EA58C002A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24EF7A72387485880242BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FAEC973FB643039B428E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74749E846324B6091A554F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9873F40F444EE885E89341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE97A6141CEC4071AFFCBAE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
